/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
#login {
    padding-top: 50px
}

#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}

#login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

#login .form-group {
    margin-bottom: 25px;
}

#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}

#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}

#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}

#login .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px;
}

#login .forget {
    font-size: 13px;
    text-align: center;
    display: block;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}

.btn-custom {
    color: #fff;
    background-color: #1fa67b;
}

.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}

#footer p {
    margin-bottom: 0;
}

#footer a {
    color: inherit;
}

span#image-text {
    color: #fff;
}

i {
    color: #fff;
}

.logoutImage{
    padding-top: 8px;
    cursor: pointer;
}

.bold-green-font {
    font-weight: bold;
    color: green;
}

.bold-font {
    font-weight: bold;
}

.right-text {
    text-align: right;
}

.large-font {
    font-size: 15px;
}

.italic-darkblue-font {
    font-style: italic;
    color: darkblue;
}

.italic-purple-font {
    font-style: italic;
    color: purple;
}

.underline-blue-font {
    text-decoration: underline;
    color: blue;
}

.gold-border {
    border: 3px solid gold;
}

.deeppink-border {
    border: 3px solid deeppink;
}

.orange-background {
    background-color: orange;
}

.orchid-background {
    background-color: orchid;
}

.beige-background {
    background-color: beige;
}

.modal-header-bg {
    background-color: #489CA0;
    color: #fff;
}
#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 32px;
    z-index: 1100;
    background-color:#364d6d;
}
.fa-2x {
    font-size: 2em;
}
i.fa  {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.toolbar.navbar-nav {
    margin: 0;
}
.fa-sign-out:before {
    content: "\f08b";
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont .ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a.navbar-toggle.collapse.in,a.navbar-toggle.collapsed{
    padding-bottom: 0px;
}


body {
    padding-top: 0px;
}
/* Toggle Styles */
nav.navbar-default {
    background-color:#364d6d;
    border-color: #364d6d;
    color: #fff;
}
.nav-pills>li>a {
    border-radius: 0;
}
.navbar {
    border-radius: 0px;}
.navbar-toggle {
    background-color: #ddd;
}
.glyphicon glyphicon-th-large{
    color: #364d6d;
}
.navbar-default .navbar-brand {
    color:#fff}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height:96%;
    margin-left: -250px;
    overflow-y: auto;
    background: #364d6d;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper{
    height:96%;
}


#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    height:100%;
}

.xyz {
    min-width: 360px;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
}

.fixed-brand {
    width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-left: red 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.no-margin {
    margin: 0px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    .fixed-brand {
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper .ui-jqgrid {
        width: 1000%;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper .ui-jqgrid {
        width: 1220px;
    }
   .navbar-toggle .collapse .in .ui-jqgrid{
        width:200%;
   }
    .navbar-toggle .collapsed .ui-jqgrid{
        width:50%;
    }

    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
    }
   body .navbar {
        border-radius: 0px;
    }
}
nav.navbar-default .navbar-brand {
    color:#fff;
}
body.navbar {
     border-radius: 0px;
    margin-bottom: 0px;
}
#login{
    padding-top:10px;
}
span#image-text {
    padding: 0px 0px 0px 5px;
    display: inline-block;
    vertical-align: middle;
    float: none;
    font-weight: bold;
}
.iconPadding{
    padding-top: 10px;
}
body{
    overflow: hidden;
}
.paddingLeft{
    padding-left: 10px;
}
.paddingRight{
    padding-right: 10px;
}
.headColor{
 color:#0067b4
}

/*for generated file.jsp*/
.margintop {
    margin-top: 20px;
}
.marginbottom {
    margin-bottom: 0px;
}
.paddingleft{
    padding-left:0px;
}
.paddingright{
    padding-right:0px;
}
label{
    color:#364d6d;
}